.mt-10 {
  margin-top: 10px;
}

.loading-animation {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 50px;
  height: 15px;
  > span {
    border-radius: 100%;
    width: 7px;
    height: 7px;
    background: #fff;
    &:nth-child(even) {
      animation: loading-animation-even 1s infinite linear;
    }
    &:nth-child(odd) {
      animation: loading-animation-odd 1s infinite linear;
    }
  }
}

@keyframes loading-animation-even {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes loading-animation-odd {
  0% {
    transform: scale(0.5);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.5);
  }
}

.page404{
  margin-top: 100px;
  font-size: 200px;
  line-height: 80px;
  text-align: center;
  > span {
    font-size: 30px;
  }
}